.topFixedBanner{
    background: url(../img/banner1.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover;
}
.topBannerOverlay{
    position: absolute;
    min-height: 500px;
    width: 100%;
    background: rgba(0,0,0,0.5);
}
.topContent{
    margin-top: 10rem;
}
.topTitle{
    font-family: "Montserrat" , sans-serif;
    font-weight: 700;
    color:#fff;
    font-size: 48px;
}
.topSubTitle{
    font-family: "Raleway" , sans-serif;
    font-weight: 400;
    color:#fff;
    font-size: 22px;
}
.serviceCard{
    margin: 5px;
    height: 22rem;
    padding: 60px 30px 60px 30px;
    box-shadow: 0 0 2px 0 rgba(0,115,230,0.2);
    cursor: pointer;
}
.serviceCard:hover{
    box-shadow: 0 0 10px 0 rgba(0,115,230,0.2);
}
.serviceCard img{
    height:85px;
}
.serviceMainTitle{
    color: #0099ff;
    padding-top: 5rem;
    padding-bottom: 3rem;
    font-family: "Montserrat" , sans-serif;
    font-size:28px;
    font-weight: 600;
}
.serviceName{
    padding-top: 1rem;
    font-size: 22px;
    font-family: "Raleway" , sans-serif;
    font-weight: 600;
}
.serviceDiscription{
    margin-top: 1rem;
    font-size: 14px;
    font-family: "Raleway" , sans-serif;
    font-weight: 400;
    color:#8d8b8b;
}
.navTitle{
    font-family: "Montserrat" , sans-serif;
    color:#fff !important;
    font-weight: 700;
    font-size: 24px;
    
}
.navTitleScroll , .navTitle:hover{
    text-decoration: none !important;
}
.navTitleScroll{
    font-family: "Montserrat" , sans-serif;
    color:#0099ff !important;
    font-weight: 700;
    font-size: 24px;
}
.navBarBgNone{
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color:transparent;
    
}
.navBarBgWhite{
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color:#fff;
    box-shadow: 0 0px 6px 0px royalblue;
}
.navItem{
    font-size: 16px;
    text-decoration: none !important;
    font-family: "Montserrat" , sans-serif;
    font-weight:400;
    color:#fff ;
}
.navItemScroll{
    font-size: 16px;
    text-decoration: none !important;
    font-family: "Montserrat" , sans-serif;
    font-weight:400;
    columns: #2b2b2b;;
}
.summaryBanner{
    background: url(../img/summary.jpg);
    min-height: 400px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover;
}
.summaryOverlay{
    min-height: 400px;
    width: 100%;
    background: rgba(0,0,0,0.5);
}
.countNumber{
    font-family: "Montserrat" , sans-serif;
    font-size:48px;
    font-weight: 600;
    color: #fff;
}
.countTitle{
    font-family: "Raleway" , sans-serif;
    color: #fff;
    font-size:22px;
    font-weight: 600;
}
.countSection{
    margin-top:14%;
}
.iconBullet{
    color: #0099ff;
    font-size:16px;
}
.slick-next {
    right: 0 !important;
}
.workCard{
    margin-top:13%;
    padding:10px;
    border-radius: 2px;
}
.videoCard{
    box-shadow: 0 0 4px 0 rgba(0,115,230,0.2);
    padding: 6rem 3rem 6rem 3rem;
    margin:50px auto;
}
.playBtn{
    color: #0099ff;
    font-size: 48px;
    cursor: pointer;
}
.videoTitle{
    font-family: "Montserrat" , sans-serif;
    font-size:22px;
    font-weight: 600;
    color: #0073E6;
}
.videoDec{
    font-family: "RaleWay" , sans-serif;
    font-size:16px;
    font-weight: 600;
    color:#8d8b8b;
}
.CircleImage{
    margin :0 auto;
    width: 100px;
    height:100px;
    border: 2px solid #0073E6;
    border-radius:50%;
}
.footerSection{
    margin-top: 5rem;
    box-shadow: 0 0 4px 0 rgba(0,115,230,0.2);
}
.copyRight{
    background: #0073E6;
    padding: 20px;

}
.copyRight a{
    color: #fff;
    font-family: "Montserrat" , sans-serif;
    font-weight: 400;
}
.TopPageBanner{
    background: url(../img/banner1.jpg);
    min-height: 280px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover;
}
.topPageOverlay{
    position: absolute;
    min-height: 280px;
    width: 100%;
    background: rgba(0,0,0,0.5);
}
.topPageContent{
    margin-top: 9rem;
}
.pageTitle{
    font-family: "Montserrat" , sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 28px;
}
.linkStyle{
 color: #fff !important;
 text-decoration: none !important;   
}

.linkStyle:hover{
    text-decoration: none !important;   
}
.goldenFont{
    color: orange;
}
.serviceDetailsUl{
    list-style: none;
}